.root {
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 4px 0px;
}

.not_found_msg {
  font-size: 30px;
  font-weight: 300;
}
