*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(245, 247, 250);
}

ul {
  padding: 0px;
  margin: 0px;
}
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
